---
import Layout from '../../layouts/Layout.astro';
import BlogPostCard from '../../components/blogPostCard.astro';
// You'll need to import your blog posts data or fetch it from your content directory
---

<Layout title="Blog | Hitarth Thanki">
  <main>
  </main>
</Layout>
