/* TODO: change this to the theme as per specs from figma. */

:root {
    --highlight-high: #f39c12; /* Example highlight color */
    --background-color: #1e1e1e;
    --text-color: #ffffff;
    --card-hover: #333333;
    --pfp-border-color: #4caf50;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
}
