---
import Card from '../components/career-card.astro';
import Base from '../layouts/base.astro'
//create a list object to render as a bunch of cards.
---
<Base pageName="Career" pageColor="Pine">
    <h1>Career</h1>
</Base>
