---
import Card from '../components/career-card.astro';
import Base from '../layouts/base.astro'
//create a list object to render as a bunch of cards.
---
<Base>
    <h1>Career</h1>
<!-- TODO: insert the career page components here. some sort of procedurally generated card that takes in md and spits out a list of html objs -->
</Base>
