---
import Base from '../layouts/base.astro';
import Footer from '../components/footer.astro';
import Aside from '../components/aside.astro';
import Stack from '../components/techstack.astro';
---
<Base pageName="" pageColor="text-Love">
  <section class="home-page">
    <div class="content flex flex-col gap-[25px] text-Text font-outfit text-[16px] font-normal leading-[30px]">
      <p class="h-[25px]"> 
        Hiya! 👋
      </p>
      <p class="h-[25px]">
        I’m a <span class="text-Love">Computer Science</span> major at the <span class="text-Love">University of Houston</span>. 
      </p> 
      <p>I love Software Engineering, and Cybersecurity, and I love talking about tech, cars, planes, rockets, cool science topics, and everything in between!
      </p>
      <p class="height[130px]">
        I lead <span class="highlight text-Love">CodeRed</span> at CougarCS, organizing Houston’s largest hackathon.
        I am also the Software Team Lead for Undergraduate Student Instrumentation Project VI (USIP VI), where we build and test balloon-borne experiments.
      </p>
      <h3 class="text-[16px] font-normal ">What I know:</h3>
      <Stack />
    </div>
  </section>
</Base>
