---
import Base from '../layouts/base-layout.astro';
---
<BaseLayout>
    <h1>Welcome to My Portfolio</h1>
    <p>Hello, I'm Hitarth! Here's a bit about me, my projects, and writings.</p>
  <!-- add stuff here this is just me adding boilerplate to set stuff up -->
</BaseLayout>

