---
import Layout from '../layouts/Layout.astro';
import About from '../components/about.astro';
import Profile from "../components/pfp.astro";
---

<Layout title="Home | Hitarth Thanki">
  <main>
    <Profile />
    <About />
  </main>
</Layout>





<!-- 
<h1>Hitarth Thanki (aka "brohudev")</h1>
<p>Debugging life, one keystroke at a time</p>
<nav>
  <a href="/projects">Projects</a>
  <a href="/blog">Blog</a>
  <a href="/experience">Experience</a>
</nav>
<div>
  <a href="mailto:your.email@example.com">Email</a>
  <a href="/path/to/resume.pdf">Resume</a>
  <a href="https://github.com/yourusername">Github</a>
  <a href="https://linkedin.com/in/yourusername">LinkedIn</a>
</div> -->