---
import Card from '../components/project-card.astro';
import Base from '../layouts/base.astro'
//create a list object to render as a bunch of cards.
---
<Base pageName="Projects" pageColor="Gold">
    <h1>projects goes here</h1>
    <!-- TODO: built out the projects cards and list them out here -->
</Base>
