---
import Layout from '../layouts/Layout.astro';
import Header from '../components/header.astro';
---

<Layout title="Projects | Hitarth">
  <Header />
  <main>
    <h1>Projects</h1>
    <p>Coming soon...</p>
  </main>
</Layout>
