---
import Card from '../components/writing-card.astro';
import Base from '../layouts/base.astro'

const writingFiles = import.meta.glob('../content/writing/*.md');
const writings = await Promise.all(
  Object.entries(writingFiles).map(async ([path, resolver]) => {
    const { frontmatter, compiledContent } = await resolver();
    return { 
      ...frontmatter, 
      description: await compiledContent(), // Resolve content
    };
  })
);

---
<Base pageName="Writing" pageColor="text-Iris">
  <div class="w-full grid grid-cols-1 gap-[25px]">
    {writings.map((writing) => (
    <Card 
        title={writing.title} 
        date={writing.date} 
        time={writing.time} 
        type={writing.type} 
    />
    ))}
  </div>
</Base>
