---
import Card from '../components/writing-card.astro';
import BaseLayout from '../layouts/BaseLayout.astro'
//create a list object to render as a bunch of cards.
---
<BaseLayout>
    <h1>Career</h1>
<!-- figure this out later Card content={ExampleCard1} page="career" 
<Card content={ExampleCard2} page="career" />  -->
</BaseLayout>
