---
import Card from '../components/writing-card.astro';
import Base from '../layouts/base.astro'
//create a list object to render as a bunch of cards.
---
<Base pageName="Writing" pageColor="text-Iris">
    <h1>writing stuff goes here</h1>
<!-- figure this out later Card content={ExampleCard1} page="career" 
<Card content={ExampleCard2} page="career" />  -->
</Base>
