---
//the icon svg code is from Google's material Icons pack avaiable for download on Figma at https://www.figma.com/community/file/1014241558898418245
import Icon from './icon.astro';
---
<nav class="taskbar flex flex-col items-center">
    <!-- Profile Picture -->
    <div class="mb-[25px]">
        <img src="/images/hitarth.jpeg" alt="Profile Picture" class="pfp w-[150px] h-[150px] rounded-[10px]">
    </div>

    <!-- Buttons -->
    <div class="flex flex-col gap-[25px]">
        <a href="/" class="taskbar-link w-[150px] h-[50px] rounded-[10px] bg-Overlay text-center flex items-center justify-center gap-2 text-Iris transition-all duration-300 ease-in-out hover:bg-Love hover:text-Overlay">
            <Icon icon="home" className="h-[25px] w-[25px] fill-current" />
            <span class="text-[20px] font-normal leading-[20px]">Home</span>
        </a>
        <a href="/career" class="taskbar-link w-[150px] h-[50px] rounded-[10px] bg-Overlay text-center flex items-center justify-center gap-2 text-Iris transition-all duration-300 ease-in-out hover:bg-Pine hover:text-Overlay">
            <Icon icon="career" className="h-[25px] w-[25px] fill-current" />
            <span class="text-[20px] font-normal leading-[20px]">Career</span>
        </a>
           <a href="/projects" class="taskbar-link w-[150px] h-[50px] rounded-[10px] bg-Overlay text-center flex items-center justify-center gap-2 text-Iris transition-all duration-300 ease-in-out hover:bg-Gold hover:text-Overlay">
            <Icon icon="projects" className="h-[25px] w-[25px] fill-current" />
            <span class="text-[20px] font-normal leading-[20px]">Projects</span>
        </a>
        <a href="/writing" class="taskbar-link w-[150px] h-[50px] rounded-[10px] bg-Overlay text-center flex items-center justify-center gap-2 text-Iris transition-all duration-300 ease-in-out hover:bg-Iris hover:text-Overlay">
           <Icon icon="writing" className="h-[25px] w-[25px] fill-current" />
           <span class="text-[20px] font-normal leading-[20px]">Writing</span>
        </a>
        <a href="https://raw.githubusercontent.com/brohudev/resume/refs/heads/main/Hitarth%20Thanki.pdf" target="_blank" rel="noopener noreferrer" class="taskbar-link w-[150px] h-[50px] rounded-[10px] bg-Overlay text-center flex items-center justify-center gap-2 text-Rose transition-all duration-300 ease-in-out hover:bg-Rose hover:text-Overlay">
           <Icon icon="resume" className="h-[25px] w-[25px] fill-current" />
           <span class="text-[20px] font-normal leading-[20px]">Resume</span>
        </a>
    </div>
</nav>
