---
import '../styles/global.css'//as an aside here you will assemble all the buttons and everything needed and only expose a nice little aside section.
---
<nav class="taskbar">
    <img src="/hitarth.jpeg"alt="Profile Picture" class="pfp">
    <a href="/" class="taskbar-link">Home</a>
    <a href="/career" class="taskbar-link">Career</a>
    <a href="/writing" class="taskbar-link">Writing</a>
    <a href="/projects" class="taskbar-link">Projects</a>
</nav>

