---

---
<nav class="taskbar flex flex-col items-center">
    <!-- Profile Picture -->
    <div class="mb-[25px]">
        <img src="/hitarth.jpeg" alt="Profile Picture" class="pfp w-[150px] h-[150px] rounded-[10px]">
    </div>

    <!-- Buttons -->
    <div class="flex flex-col gap-[25px]">
        <a href="/" class="taskbar-link w-[150px] h-[50px] rounded-[10px] bg-Overlay text-center flex items-center justify-center text-Iris transition-all duration-300 ease-in-out hover:bg-Love hover:text-Overlay">Home</a>
        <a href="/career" class="taskbar-link w-[150px] h-[50px] rounded-[10px] bg-Overlay text-center flex items-center justify-center text-Iris transition-all duration-300 ease-in-out hover:bg-Pine hover:text-Overlay">Career</a>
        <a href="/projects" class="taskbar-link w-[150px] h-[50px] rounded-[10px] bg-Overlay text-center flex items-center justify-center text-Iris transition-all duration-300 ease-in-out hover:bg-Gold hover:text-Overlay">Projects</a>
        <a href="/writing" class="taskbar-link w-[150px] h-[50px] rounded-[10px] bg-Overlay text-center flex items-center justify-center text-Iris transition-all duration-300 ease-in-out hover:bg-Iris hover:text-Overlay">Writing</a>
        <a href="https://drive.google.com/file/d/1iDhpkBqW4HAw33x2NJlyzSu1HJppktIE/view?usp=sharing" class="taskbar-link w-[150px] h-[50px] rounded-[10px] bg-Overlay text-center flex items-center justify-center text-Rose transition-all duration-300 ease-in-out hover:bg-Rose hover:text-Overlay">Resume</a>
    </div>
</nav>
