---

---

<footer class="footer">
  <a href="mailto:thankihtarth@gmail.com" class="footer-button glass-button"> Email</a> 
  <a href="https://drive.google.com/file/d/1iDhpkBqW4HAw33x2NJlyzSu1HJppktIE/view?usp=sharing" class="footer-button glass-button" target="_blank" rel="noopener noreferrer">Resume</a>
  <a href="https://github.com/brohudev" class="footer-button glass-button" target="_blank" rel="noopener noreferrer">Github</a>
  <a href="https://www.linkedin.com/in/hitarth-thanki" class="footer-button glass-button" target="_blank" rel="noopener noreferrer">Linkedin</a>
</footer>
