---

---

<footer class="w-full h-[25px] flex justify-center items-center text-Muted">
    <div class="footer-content flex gap-[75px]">
        <a href="https://linkedin.com/in/hitarth-thanki" target="_blank" rel="noopener" class="footer-link hover:text-Foam transition-all duration-300">LinkedIn</a>
        <a href="https://github.com/brohudev" target="_blank" rel="noopener" class="footer-link hover:text-Foam transition-all duration-300 ">GitHub</a>
        <a href="https://discord.com/users/brohudev" target="_blank" rel="noopener"  class="footer-link hover:text-Foam transition-all duration-300">Discord</a>
        <a href="mailto:letsconnect@hitarth.dev"class="footer-link hover:text-Foam transition-all duration-300">Email</a>
        <a href="https://hitarth.dev/rss.xml" class="footer-link hover:text-Foam transition-all duration-300">RSS Feed</a>
    </div>
</footer>
