---
import '../styles/global.css';
---
<header >
  <nav>
    <a class="header" href="/">Home</a>
    <a class="header" href="/projects">Projects</a>
    <a class="header" href="/blog">Blog</a>
  </nav>
</header>
