---
import Icon from './icon.astro';
---
<a href="mailto:letsconnect@hitarth.dev"target="_blank" rel="noopener">
<div class="group border-Pine transition-all duration-300ms lg:hover:border-Base ease-in-out lg:border-HighlightMed rounded-xl border  bg-Base lg:hover:bg-Pine flex flex-col lg:flex-row px-2.5 lg:px-3.5 py-2 lg:py-4 mb-4 lg:mb-8 gap-4 w-full">
  <div class="content-container flex-1 min-w-0">
    <div class="career-card-content flex flex-col lg:flex-row gap-4 lg:items-center">
      <div class="flex items-start items-center gap-2 lg:gap-4 flex-1 min-w-0">
        <div class="career-card-pfp w-[25px] h-[25px] lg:h-[50px] lg:w-[50px] flex-shrink-0 text-Pine lg:group-hover:text-Base">
          <Icon icon='hireme' className="w-[25px] h-[25px] lg:h-[50px] lg:w-[50px] fill-current" />
        </div>
        
        <div class="career-card-text text-Iris flex flex-col min-w-0 flex-1">
            <div class="font-Outfit text-sm lg:text-[16px] lg:group-hover:text-Base font-light truncate"> &lt;Today&gt; - &lt;Long into the Future!&gt;</div>
          <div class="text-md lg:text-lg text-Pine lg:group-hover:text-Base font-bold truncate">Want to hire me? Let's talk</div>
            <div class="truncate text-sm lg:group-hover:text-Base text-Muted">Your Company</div>
        </div>
        
        <div class="w-[25px] h-[20px] lg:w-[37px] lg:h-[37px] flex-shrink-0 text-Pine lg:text-Pine lg:group-hover:text-Base">
          <Icon icon="work" className="w-[25px] h-[25px] lg:w-[37px] lg:h-[37px] fill-current" />
        </div>
      </div>
    </div>
  </div>
  </div></a>
