---
import Layout from "../layouts/Layout.astro";
import About from "./about.astro";
import Tagline from "./tagline.astro";
---

<Layout title="Home | Hitarth Thanki">
  <main>
     <header class="header">
          <h1>Hitarth Thanki</h1>
          <h2>Debugging life, one keystroke at a time</h2>
     </header>
     <About />
  </main>
</Layout>