---
const { title, github, demo, image, technologies, shortDescription } = Astro.props;
let expanded = false;
import Icon from './icon.astro'
---
<!-- Card Container -->
<div class="group flex h-[150px] p-[15px] flex-col justify-center items-center gap-[10px] flex-shrink-0 self-stretch border border-HighlightMed hover:border-Gold rounded-xl">
  <!-- content container -->
  <div class="flex items-center gap-[20px] flex-[1_0_0] self-stretch">
    <!-- pfp container -->
    <div class=""> <img src=`${image}` alt="A cute pfp of the project :D" class="max-w-none w-[120px] h-[120px] rounded-[10px]" /></div>

    <!-- deets container -->
    <div class="deets">
      <!-- text container -->
      <div class="text">
        <div class="title">{title}</div>
        <div class="short description">{shortDescription} </div>
      </div>
      <!-- technologies container -->
      <div class=""> 
      <!-- insert a list of icons here -->
      </div>
    </div>

    <!-- gh/demo container -->
    <div class="text-HighlightMed group-hover:text-Gold flex w-[25px] flex-col justify-center items-center gap-[37px] self-stretch">
      <!-- only show the button if it isnt '' in the metadata: -->
      <a href="/" title="Live Demo."> <Icon icon="demo" classname="fill-current"/> </a>
      <a href="/" title="Github Link">  <Icon icon="gh" classname="fill-current" /> </a>
    </div
  </div>
</div>
