---
import Icon from './icon.astro';

---
<!-- TODO: insert the svgs of the tech stax you want to add to the page -->
<div class="tech-stack text-Love flex w-[574px] px-[4px] py-[1px] justify-center items-center gap-[20px]">
    <Icon icon="vsc" title="Visual Studio Code" />
    <Icon icon="git" title="Visual Studio Code" />
    <Icon icon="js" title="Visual Studio Code" />
    <Icon icon="react" title="Visual Studio Code" />
    <Icon icon="figma" title="Visual Studio Code" />
    <Icon icon="python" title="Visual Studio Code" />
    <Icon icon="cpp" title="Visual Studio Code" />
    <Icon icon="nodejs" title="Visual Studio Code" />
    <Icon icon="mysql" title="Visual Studio Code" />
</div>

