---
import Icon from './icon.astro';

---
<!-- TODO: insert the svgs of the tech stax you want to add to the page -->
<div class="tech-stack text-Love flex w-[574px] px-[4px] py-[1px] justify-center items-center gap-[20px]">
    <div title="Visual Studio Code"><Icon icon="vsc"/> </div>
    <div title="Git"><Icon icon="git"/> </div>
    <div title="JavaScript"><Icon icon="js" /> </div>
    <div title="ReactJS"><Icon icon="react"  /> </div>
    <div title="Figma"><Icon icon="figma" /> </div>
    <div title="Python"><Icon icon="python"/> </div>
    <div title="C++"><Icon icon="cpp"/> </div>
    <div title="NodeJS"><Icon icon="nodejs"/> </div>
    <div title="MySQL"><Icon icon="mysql"/> </div>
    <div title="AstroJS"><Icon icon="astro"/> </div>
</div>

