---
interface Props {
    page: string;
    Color: string; // Accepts a Tailwind-defined color name (e.g., "text-Love")
}

const { page, Color } = Astro.props;
const title = page ? `~/HITARTH THANKI/${page}` : "~/HITARTH THANKI";
---
<div class={`title-bar`}>
    <span class={`hidden lg:block lg:title-text lg:font-[Outfit] lg:text-[36px] lg:font-semibold lg:leading-[20px] ${Color}`}>{title}</span>
</div>
