---
interface Props {
    page?: string;
}

const { page } = Astro.props;
const title = page ? `~/HITARTH THANKI/${page}` : "~/HITARTH THANKI";
---
<div class="title-bar">
    <span class="title-text">{title}</span>
</div>
