---
const { title, date, time, type} = Astro.props;

import Icon from './icon.astro';
import BulletPoints from './career-card-points.astro';
---
<!-- main card container -->
<div>
    <!-- card content container -->
    <div>
        <!-- title and icon container -->
        <div>
            <!-- icon here -->
            <Icon icon={`${type}`} className="h-[50px] w-[50px] fill-current" />
            <!-- title div -->
            <div> </div> 
        </div>
        <!-- metadata container -->
        <div>
            <!-- date div -->
            <div> </div>
            <!-- time div -->
            <div> </div>
        </div>
    </div>
</div>
