---
import Aside from "../components/nav.jsx";
import Footer from "../components/footer.astro";
import Title from "../components/title.astro";
import ClientRouter from "astro/components/ClientRouter.astro";

const { pageName, pageColor } = Astro.props; 
---

<html lang="en" class="scroll-smooth">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>~ | Hitarth Thanki</title>
        <link rel="icon" type="image/x-icon" href="/logo.ico">
        <ClientRouter />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
    </head>
    <body class="bg-Base text-Text min-h-screen flex flex-col">
        <!--wrapper -->
        <div class="lg:max-w-[900px] flex flex-grow flex-col lg:flex-row lg:my-32  my-10 mx-[10vw] md:mx[30vw] lg:mx-auto">
            <!-- Aside Component -->
            <div class="flex flex-col bg-Base lg:w-[200px] flex-shrink-0"> <Aside client:load transition:animate="slide" activePage={pageName} /> </div>
            <!-- Main container -->
                <div class="flex flex-col lg:gap-[25px] w-full lg:w-[575px]">
                    <Title page={pageName} Color={pageColor} />
                <div class="flex-grow"><slot /> </div>
                    <Footer />
                </div>
        </div>
    </body></html>
