---
// src/layouts/BaseLayout.astro
import "../styles/global.css";
import Aside from "../components/aside.astro";
import Footer from "../components/footer.astro";
import Title from "../components/title.astro";

const { pageName } = Astro.props; //get the correct page name to set. in the title component
---

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>~ | Hitarth Thanki</title>
        <link rel="icon" type="image/x-icon" href="/logo.ico">
    </head>
    <body class="bg-Base flex justify-center items-center h-screen">
        <!-- Main Container -->
        <div class="bg-base w-[900px] h-full flex ">
            <div class="h-full w-[200px] bg-Base">
                <Aside />
            </div>

            <div class="flex flex-col items-center flex-1 bg-Base">
                <Title page={pageName} />
                <slot />
            </div>
        </div>

        <Footer /> <!--todo fix the css. this is going to the right of the main container for some reason.-->
    </body>
</html>
