---
import { getCollection } from 'astro:content';
import Base from '../../layouts/base.astro';

export async function getStaticPaths() {
  const writingPosts = await getCollection('writing');
  return writingPosts.map(post => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content, data } = post;
---

<Base>
  <article class="prose">
    <h1>{data.title}</h1>
    <Content />
  </article>
</Base>
