---
import { getCollection } from 'astro:content';
import Base from '../../layouts/base.astro';

export async function getStaticPaths() {
  const writingPosts = await getCollection('writing');
  return writingPosts.map(post => ({
    params: { slug: post.slug },
    props: { post },
  }));
}
// https://docs.astro.build/en/guides/content-collections/#querying-collections
// use the above link to querry the collection for each entry in the collection, and then set the body using the body param containing raw content???
//
// https://docs.astro.build/en/reference/routing-reference/#getstaticpaths
// this is the getstaticpaths documentation. somethings wrong with the function above.
//
//
// get rid of whatever jiu jitsu is going on here and render each content under its path:
// https://docs.astro.build/en/guides/content-collections/#rendering-body-content
const { post } = Astro.props;
const { Content, data } = post;
---

<Base>
  <article class="prose">
    <h1>{data.title}</h1>
    <Content />
  </article>
</Base>
